
<p><%= @user.email %>的使用者，你好!</p>
<p>
  我们刚刚收到了你要求重置密码的请求，请点击下方链接开始重置密码。
</p>
<p>
  普尔云进件系统邀请你重置密码（如果你不需要重置密码，请忽略本邮件）
</p>
<p>
  有效期至<%= @user.expired_at.try(:strftime, "%Y-%m-%d %H:%m:%S") %>
</p>
<p>
  <% options = {id: @user.id, reset_token: @user.reset_token } %>
  <%= link_to '重置密码', edit_user_password_url(options) %>
</p>