<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= label 'user', 'User' %>
      <%= text_field_tag '', current_user.email, readonly: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label :roles, 'roles'.titlecase %>
      <%= text_field_tag '', current_user.role.pluck(:name).join('--'), readonly: true, class: "form-control" %>
    </div>
  </div>
</div>
