.row
  .col-md-6
    .form-group
      = label 'user', '电子邮箱(登录名)'
      = text_field_tag '', current_user.email, readonly: true, class: "form-control"
    .form-group
      = label :name, '用户名'
      = text_field_tag '', current_user.name, readonly: true, class: "form-control"
    .form-group
      = label :company_name, '公司名'
      = text_field_tag '', current_user.company_name, readonly: true, class: "form-control"
    .form-group
      = label :token, 'Token'
      = text_field_tag '', current_user.token, readonly: true, class: "form-control"
    .form-group
      = label :token, 'Partner Id'
      = text_field_tag '', current_user.partner_id, readonly: true, class: "form-control"
    .form-group
      = label :tel, '联系电话'
      = text_field_tag '', current_user.tel, readonly: true, class: "form-control"
    .form-group
      = label :roles, '角色'
      = text_field_tag '', current_user.roles.pluck(:name).join('--'), readonly: true, class: "form-control"
    .form-group
      = label :bucket_name, '图片上传空间名'
      = text_field_tag '', current_user.bucket_name, readonly: true, class: "form-control"
    .form-group
      = label :bucket_name, '图片上传空间链接'
      = text_field_tag '', current_user.bucket_url, readonly: true, class: "form-control"
