<div class="row">
  <div class="col-xs-12" style="min-width: 1000px;">
    <div class="box">
      <div class="box-header">
        <div class="col-xs-6">
          <h3 class="box-title">Product Draft Table</h3>
        </div>
      </div>
        <!-- /.box-header -->
      <div class="box-body">
        <%= render partial: 'filter' %>
        <%= render partial: 'shared/index_table_options', locals: { collection: @collection } %>
        <%= react_component 'ProductDrafts', { data: @collection, controller: controller_name } %>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
